.layout {
  direction: rtl;

  position: absolute;
  right: 250px;
  left: 0;
  background-color: rgba(128, 128, 128, 0.1);
  /* border: 1px solid red; */
}
h3 {
  padding-right: 20px;
}

.calendarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}

.calendar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.singleCalendar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  padding: 10px;
}

.singleCalendar label {
  margin-bottom: 10px;
}

.main {
  background-color: white;

  width: 70vw;
  margin: auto;
}

.table {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  margin: 20px auto;
}
.table td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 0px;
  border-collapse: collapse;
}

.table th {
  height: 40px;
}

.costumerNum {
  margin-right: 10px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.18);
  padding: 1px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.searchBar {
  width: 100%;
  height: 40px;
  /* align-items: center; */
  margin: 20px 10px 50px 0;
}
.searchBar img {
  margin: 10px -20px 5px 0;
  padding-top: 8px;
  height: 20px;
  z-index: 20;
}

.searchBar input {
  border-radius: 15px;

  z-index: 1;
  outline: none;
  width: 70%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.19);

  padding: 5px 20px;
}

::placeholder {
  font-size: 18px;
  opacity: 0.5;
}

.searchBar select {
  padding: 10px;
  margin-right: 50px;
  border-radius: 20px;
  width: 100px;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}

.searchBar select:hover {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .layout {
    right: 100px;
    z-index: 1;
  }
  .searchBar input {
    width: 30%;
  }

  .calendarContainer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
